.button {
  background: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  padding: $input-spacing;
  margin-bottom: $space;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: $base-font-size;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background: transparent;
  color: $button-pill-color;
  border: 1px solid $button-pill-color;
  padding: 0.3rem 0.8rem;
  margin: 0 ($space / 2) 0 0;
}

.button--secondary {
  color: darken($button-secondary-color, 30%);
  border: 1px solid $button-secondary-color;
  background: lighten($button-secondary-color, 30%);
}

.button--link-text {
  background: none;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  text-transform: none;
}
